@import '../../shared.scss';

label, legend {
    margin: calc($def-padding/4) $def-padding;
    font-size: 0.9em;
    display: block;

    @include icon-size(calc($def-padding * 1.5));
    .icon {
        margin: 0 calc($def-padding / 2);
    }
}
