@import '../../shared.scss';

:root {
    --button-bg               : transparent;
    --button-color            : #{$def-font-color};
    --button-border           : #{$def-font-color};
    --button-activated-bg     : #{$def-font-color};
    --button-activated-color  : #{$def-panel-bg};
    --button-activated-border : #{$def-panel-bg};
    --button-border-width     : #{$def-border-width};
}

.button {
    @include font-normal();
    @include transparent-box(var(--button-color));
    border-color: var(--button-border);
   
    @include click-effect (
        all-sides(var(--button-border-width)),
        horizontal-sides($def-padding),
        var(--button-border-width)
    );

    display: inline-flex;
    padding: calc($def-padding / 2) $def-padding;
    align-items: center;

    &.borderless {
        @include borderless-click-effect();
    }

    &.activated {
        background-color: var(--button-activated-bg);
        color: var(--button-activated-color);
        fill : var(--button-activated-color);
        &:not(.borderless) {
            border-color: var(--button-activated-border);
        }

        &:hover{
            border-color: var(--button-activated-border);
        }
    }

    & > * {
        display: inline-flex;
    }
}

fieldset[name='buttons'] {
    margin-top: $def-padding;
    background-color: transparent;
    border: none;
}