@import '../../shared.scss';

:root {
    --fieldset-bg               : #{$def-level2-bg};
    --fieldset-color            : #{$def-font-color};
    --fieldset-border           : #{$def-fieldset-border};
    --fieldset-disabled-bg      : #{$disabled-bg};
    --fieldset-disabled-color   : #{$disabled-color};
    --fieldset-valid-color      : #{$def-valid-color};
    --fieldset-invalid-color    : #{$def-invalid-color};
    --fieldset-required-color   : #{$def-required-color};
}

form {
    fieldset {
        @include round-corner-box();
        @include color(var(--fieldset-color));
        border-color: var(--fieldset-bg);
        background-color: var(--fieldset-bg);

        user-select: none;
        display: block;
        
        margin: $def-padding 0;
        padding: 0;
        
        @include change-label-required-color(var(--fieldset-required-color));

        &:hover:not(.disabled){
            border-color : var(--fieldset-border);
        }

        &.valid, &.invalid {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-left-width: calc($def-border-width * 2);
        }
        &.valid {
            border-left-color: var(--fieldset-valid-color) !important;
            @include change-label-required-color(var(--fieldset-valid-color));
        }
        &.invalid {
            border-left-color: var(--fieldset-invalid-color) !important;
            @include change-label-required-color(var(--fieldset-invalid-color));
        }

        &.disabled {
            @include color(var(--fieldset-disabled-color));
            @include change-label-required-color(var(--fieldset-disabled-color));
            @include element-disabled();
            background-color: var(--fieldset-disabled-bg);
            border-color: var(--fieldset-disabled-bg);
            input, .input {
                color : var(--fieldset-color);
            }
        }

        .form-field {
            @include vertical-split();
            align-items: center;
            padding: calc($def-padding /2) $def-padding;
            min-height: calc($def-padding * 4);

            .form-field__content {
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: nowrap;
                @include gap();
                &.form-field__content_initial {
                    width: 100%;
                }

                small {
                    white-space: nowrap;
                }
            }
        }

    }

    .form-field__helper, .form-field__invalid-text {
        display: block;
        margin: calc($def-padding * -1) $def-padding $def-padding $def-padding;
    }
    .form-field__invalid-text {
        color: var(--fieldset-invalid-color);
        font-weight: 300;
    }

}