@import '../../shared.scss';

.icon {

    height: $def-icon-size;
    display: inline-block;
    width: auto;
    aspect-ratio: 1;

    svg {
        height: $def-icon-size;
        fill-rule: evenodd;
        width: auto;
        aspect-ratio: 1;
        
        .smiley {
            .smiley_bg {
                fill: none;
            }
        }
    }
}

@keyframes animate-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@mixin spin-animation {
    animation: animate-spinner 2s infinite linear;
}

.spinner {
    @include spin-animation();
}

.step-spinner {
    @include spin-animation();
    animation-timing-function: steps(8);
}

