@import './shared.scss';

html{
    height: 100%;
}

body {
    @include font-normal();
    height: 100%;

    @include color($def-font-color);

    margin: 0;
    padding: 0;
    background-color: $def-bg;

    display: flex;
    align-items: stretch;
}

#root {
    width: 100%
}

h1, h2, h3, .title, .strong {
    @include font-title();
}

h4, h5, h6, strong, .strong {
    @include font-subtitle();
}

h1 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.1em;
}

main {
    @include vertical-split();
    width: 100%;
    height: 100%;

    & > section {
        width: 100%;
        display: block;
        position: relative;
        height: 100%;
        overflow: auto;
    }
}

.page { 
    padding: 0 calc($def-padding * 4);
    position: relative;

    @media screen and (max-width: $bp-mobile-portrait)  {
        padding: 0;
    } 
}

.align-center {
    text-align: center;    
}


.flip-horizontal {
    transform: scale(-1,1);
}

.flip-vertical {
    transform: scale(1,-1);
}

.rotate180 {
    transform: rotate(180deg);
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate270 {
    transform: rotate(270deg);
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: $blue $def-level2-bg;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: calc($def-padding);
  }

  *::-webkit-scrollbar-track {
    background: $def-level2-bg;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: $def-padding;
    border: 1px solid $def-level2-bg;
  }



