@import '../../shared.scss';

.dev-tools {
    z-index : 1001;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    width: clamp(calc($def-padding * 32), calc($def-padding * 78), 37%);
    
    & > section {

        height: calc(100% - calc(calc($def-padding * 6) + 2px));

        .panel__content {
            height: calc(100% - calc(calc($def-padding * 2) - 2px));
            overflow: auto;
        }
    }

    .button-field {
        margin: calc($def-padding / 2) 0;
    }

    .dev-tools__trigger-error {
        background-color: $orange;

        $dt__te__dropdown--bg: lighten($orange, 10%);

        fieldset {
            --fieldset-bg : #{$dt__te__dropdown--bg};
            --fieldset-border: #{$def-font-color};
            --fieldset-color: #{$gray-100};
        }
        .button {
            padding-left: calc($def-padding * 2);
            padding-right: calc($def-padding * 2);
        }
    }

    .dev-tools__show-load-page, .dev-tools__show-api-state {
        background-color: $blue;
        .button {
            @include icon-size($def-icon-size);
        }
    }

    .dev-tools__display-icons {

        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: flex-start;
            justify-content: space-between;
            align-items: flex-start;
            padding: $def-padding calc($def-padding * 2);
            margin: 0;
            @include gap($def-padding);

            li {
                @include round-corner-box();
                border-width: 0;
                background-color: $def-panel-bg;
                padding: $def-padding;

                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: center;
                align-items: center;
                flex-basis: 20%;
                flex-grow: 1;
                max-width: calc($def-padding * 16);
                min-width: calc($def-padding * 8);

                @include gap(calc($def-padding / 2));

                text-align: center;
            }
        }
    }
    
}