@import '../../shared.scss';

.dev-tools {
    z-index : 1001;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    
    & > section {

        height: calc(100% - calc(calc($def-padding * 6) + 2px));

        .panel__content {
            height: calc(100% - calc(calc($def-padding * 2) - 2px));
            overflow: auto;
        }
    }

    .button-field {
        margin: calc($def-padding / 2) 0;
    }

    .dev-tools__trigger-error {
        background-color: $orange;

        $dt__te__dropdown--bg: lighten($orange, 10%);

        fieldset {
            --fieldset-bg : #{$dt__te__dropdown--bg};
            --fieldset-border: #{$def-font-color};
            --fieldset-color: #{$gray-100};
        }
        .button {
            padding-left: calc($def-padding * 2);
            padding-right: calc($def-padding * 2);
        }
    }

    .dev-tools__show-load-page, .dev-tools__show-api-state {
        background-color: $blue;
        .button {
            @include icon-size($def-icon-size);
        }
    }
    
}